h1, p {
  margin: 0;
 }

 .bg-container{
  background-color: rgb(234, 221, 221);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  color: black;
 }
 
 .heading{
  background-color: white;
  text-align: center;
  padding-top: 5px;
 }
 
 .text{
  font-size: 17px;
  background-color: white;
  font-weight: 600;
  text-align: center;
  padding: 5px;
 }
 
 .to-do{
  padding-left: 20px;
  font-size: 28px;
 }
 
 .todos-ul{
  display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 10px;
   box-sizing: border-box;
   width: 100%; 
   list-style-type: none; 
   margin: 0;
 }
 
 .no-tasks{
   font-size: 20px;
   font-weight: 600;
   padding-top: 30px;
   
 }

 .search-container{
  display: flex;
  justify-content: space-between;
 }

 .search{
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 450px;
  align-self: center;
  margin-top: 20px;
  width: 400px;
  border: none;
 }

 @media (max-width: 760px) {
  .heading{
    font-size: 25px;
  }

  .text{
    font-size: 16px;
  }

  .to-do{
    font-size: 24px;
  }
 }